.header {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  &__container {
      
      position: relative;
      padding-top: 14.8rem;
      padding-bottom: 12.3rem;
  }
  &__content {
      width: 100%;
      max-width: 398px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-width: 45.7rem;
      padding-top: 12rem;
  }
  &__title {
      margin-bottom: 2.9rem;
  }
  &__description {

      margin-bottom: 4rem;
  }
  &__bg {
      position: absolute;
      top: -14.6rem;
      right: -48.5rem;
  }
  &__img{
      display: none;
  }
}
@media screen and (max-width: 900px) {
  h1{
      font-size: 4rem;
  }
  p{
     max-width: 200px; 
  }
  .hero__bg{
    display: none;
}
.hero__img{
width: 100%;
max-width: 327px;
display: block;
}
.hero__container{
display: flex;
flex-direction: column;
align-items: center;

.title{
    text-align: center;
}
}
}
@media screen and (max-width: 855px){
  .hero__bg{
      display: none;
  }
.hero__img{
  width: 100%;
  max-width: 327px;
  display: block;
}
.hero__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title{
      text-align: center;
  }
}
}
